{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        Select the Problem
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'OnlineJudge/css/button.css' %}">
</head>

<body>
    <h1 style="text-align:center">Choose option</h1>
    <button class="one"
    onclick="window.location.href = 'https://online-judge-microsoft-engage.herokuapp.com/addproblem/';">
        Add Problem
    </button>
    <button class="two"
    onclick="window.location.href = 'https://online-judge-microsoft-engage.herokuapp.com/addassignment/';">
        Add Assignment
    </button>
    <button class="three"
    onclick="window.location.href = 'https://online-judge-microsoft-engage.herokuapp.com/attemptproblem/';">
        Attempt Problem
    </button>
    <button class="four"
    onclick="window.location.href = 'https://online-judge-microsoft-engage.herokuapp.com/attemptassignment/';">
        Attempt Assignment
    </button>
</body>

</html>