<!DOCTYPE html>
<html>
<head>
    <title>
        Select the Problem
    </title>
     <link rel="stylesheet" href="button.css">
</head>
<body>

<h1 style="text-align:center">Problem</h1>

<form name="problem_details">
    <label for="ID">Enter Problem ID: </label>
    <input type="text" id="ID" name="ID"><br><br>
    <button class="three"
    onclick="api_call2()">
        Submit
    </button>
</form>
</body>
<script type="text/javascript">
    function api_call2(){
    //POST request with body equal on data in JSON format
    window.open('http://127.0.0.1:8000/displayproblem/?problem_id='+document.problem_details.ID.value,);
    }
</script>

</html>