<!DOCTYPE html>
<html>

<head>
    <title>
        Select the Problem
    </title>
    <link rel="stylesheet" href="button.css">
</head>

<body>
    <h1 style="text-align:center">Choose option</h1>
    <button class="one"
    onclick="window.location.href = 'http://127.0.0.1:8000/addproblem/';">
        Add Problem
    </button>
    <button class="two"
    onclick="window.location.href = 'http://127.0.0.1:8000/addassignment/';">
        Add Assignment
    </button>
    <button class="three"
    onclick="window.location.href = 'http://127.0.0.1:8000/attemptproblem/';">
        Attempt Problem
    </button>
    <button class="four"
    onclick="window.location.href = 'http://127.0.0.1:8000/attemptassignment/';">
        Attempt Assignment
    </button>
</body>

</html>